.App {
  max-width: 1000px;
  margin: 0 auto;
}

.logo{
  height: 100px;
}

.toolbar{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}

button{
  height: 30px;
  width: 100px;
  border: 2px solid rgb(10, 182, 62);
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
  color: rgb(5, 5, 5);
  font-size: 16px;
  font-weight: 600;
  background-color: #fff;
}

button:hover{
  font-size: 15px;
}

button:disabled{
  border: 2px solid rgb(100, 100, 100);
  color:rgb(100, 100, 100);
  cursor: default;
}

button:disabled:hover{
  font-size: 16px;
}

.active{
  background-color: rgb(10, 182, 62);
  color: white;
}

.color{
  border: none;
  border-radius: 25px;
  appearance: none;
  padding: 0;
  background-color: transparent;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.color_label{
  margin-right: 5px;
}


